* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #202124;
  background: white;
}

.layout {
  display: grid;
}

.panel {
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
}

.card {
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  padding: 25px;
}

.d1c {
  -ms-grid-columns: 1fr [1];
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "col";
}

.d2c {
  -ms-grid-columns: 1fr [2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "col col";
}

.d3c {
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col col col";
}

.d4c {
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "col col col col";
}

.d5c {
  -ms-grid-columns: 1fr [5];
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "col col col col col";
}

.d6c {
  -ms-grid-columns: 1fr [6];
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "col col col col col col";
}

@media (max-width: 1300px) {
  .t1c {
    -ms-grid-columns: 1fr [1];
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "col";
  }

  .t2c {
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "col col";
  }

  .t3c {
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col col col";
  }

  .t4c {
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "col col col col";
  }

  .t5c {
    -ms-grid-columns: 1fr [5];
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col col col col col";
  }

  .t6c {
    -ms-grid-columns: 1fr [6];
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "col col col col col col";
  }
}
@media (max-width: 700px) {
  .m1c {
    -ms-grid-columns: 1fr [1];
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "col";
  }

  .m2c {
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "col col";
  }

  .m3c {
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col col col";
  }

  .m4c {
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "col col col col";
  }

  .m5c {
    -ms-grid-columns: 1fr [5];
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col col col col col";
  }

  .m6c {
    -ms-grid-columns: 1fr [6];
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "col col col col col col";
  }
}
a, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #a7f700;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 15px;
  background: #202124;
}

.h--block {
  display: block;
}

.h--alt {
  background: #a7f700;
  color: #202124;
}

h1 {
  font-size: 31px;
  line-height: 39px;
}

h2 {
  font-size: 27px;
  line-height: 35px;
}

h3 {
  font-size: 23px;
  line-height: 31px;
}

h4 {
  font-size: 19px;
  line-height: 27px;
}

h5 {
  font-size: 15px;
  line-height: 12px;
}

h6 {
  font-size: 11px;
  line-height: 19px;
}

p, ul li, ol li {
  font-family: "Merriweather", serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  color: #202124;
}

ul, ol {
  margin: 0 0 15px 15px;
}

p {
  margin: 15px 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #ffffff inset;
}

/*# sourceMappingURL=layout.css.map */
